/* Header style */
.header{
    float: left;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;    
}

.header-left{
    float: left;
    width: 85%;
    border-bottom: 1px solid #775d64;
}

.header-right{
    float: left;
    width: 15%;
    padding-left: 20px;
}
.logo{
    float: left;
    width: 25%;
    padding: 20px 0;
}
.menu{
    float: left;
    padding: 0;
    text-align: center;
    width: 75%;
    height: 75px;
}
ul{
    margin: 0 auto;
    text-align: left;
}
ul > li{
    display: block;
    float: left;
    position: relative;
    padding: 0 27px;
    
}
.header ul > li::after{
    content: "|";
    float: left;
    color: #fff;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
}
ul > li:nth-child(1):after{
    content: "";
    float: left;
    color: #fff;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
}
ul > li:nth-child(4):after{
    content: "";
    float: left;
    color: #fff;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
}

ul > li > a{
    display: block;
    color: #fff;
    font-size: 15px;
    padding: 34px 0px 19px 0px;
    float: left;
    text-transform: uppercase;
    position: relative;
    border-bottom: 5px solid transparent;
}
ul > li > a:hover{
    border-bottom: 5px solid white;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.register{
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
    color: #fff;
    padding: 16px 15px 8px 15px;
    border-radius: 0 0 10px 10px;
    background-color: #7a4077;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    width: 120px;
    height: 80px;
}
.register:hover{
    color: #ffffff;
    
}
/* Section 1 */
.section-1{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    min-height: 800px;
    height: 100vh;
}
.section-1 .section-background{
    background-image: url(../images/background_1-2.png);
    height: 100vh;
    min-height: 800px;
    width: 100%;
    position: absolute;
}
.section-1 .section-content{
    position: absolute;
    bottom: 0;
    left: 0;   
    float: left;
    width: 100%;
    padding-bottom: 5vh;
    
}
.section-content::after{
    content: "";
    clear: both;
}
.content{
    text-align: center;
    width: 100%;
    float: left;
    
}
.content > *{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    line-height: 1.35;
    
}
.content h3::after{
    border-bottom: #ffffff solid 2px;
    width: 25%;
}
.content h2{
    font-size: 32px;
    font-family: bodoni;
    font-weight: 300;
}
.content h1{
    font-size: 50px;
    font-family: bodoni;
    font-weight: 600;
}
.content h3{
    font-size: 22px;
    font-family: bodoni;
    font-weight: 300;
}
.content h6{
    font-size: 18px;
    font-weight: 200;
}
.section-1 .content h5{
    padding: 5px 0;
    font-size: 18px;
    line-height: 0.5;
    font-weight: 600;
}
.content .line{
    height: 2px;
    width: 50px;
    background-color: #ffffff;
    margin: 22px auto;
    display: inline-block;
    padding: 0;
}
/* Section 1 price content */
.discount-content{
    max-width: 600px;
    margin: 20px auto;
    height: max-content;
   
}
.discount-content .price-content{
    width: calc(60% - 10px);
    border: 4px solid #ffffff;
    text-align: center;
    margin: 0 5px;
    float: left;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.discount-content .register{
    width: calc( 40% - 10px );
    float: left;
    margin: 0 5px;
    height: 80px;
    background-color: transparent;
    border: 4px solid #ffffff;
    border-radius: 0;
}
.discount-content .price-content .price-title{
    width: 50%;
    font-size: 30px;
    font-weight: 400;
    font-family: bodoni;
}
.discount-content .price-content .price-detail{
    width: 50%;
    display: inline-block;
    height: 100%;
}
.discount-content .price-content .price-detail .price-discount{
    width: 100%;
    height: 60%;
    background-color: #ffffff;
    color: #7a4077;
    font-family: bodoni;
    font-size: 30px;
    font-weight: 600;
    
}
.discount-content .price-content .price-detail .price{
    width: 100%;
    height: 40%;
    padding: 5px;
    font-size: 13px;
    font-weight: 500;
    border-left: 4px solid #ffffff;
    border-bottom: 0;
    border-top: 0;
}
.discount-content .register{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}
.discount-content .register:hover{
   background-color: #7a4077;
   border: none;
   transition: 0.5s;
}
.discount-content .register a{
    font-size: 22px;
    font-weight: 200;
    color: #ffffff;
    text-decoration: none;  
}
.discount-date{
    width: 100%;
    float: left;
    margin-top: 50px;
    text-transform: none;
    font-size: 16px;
    font-weight: 200;
}

/* Section 2 */
.section-2{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    min-height: max-content;
}
.section-2 .section-content .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2 .section-content .section-title{
    padding: 50px 0;
}
.section-2 .section-content .section-title h1{
    text-transform: uppercase;
    color: #ffffffd1;
    font-size: 35px;
    font-weight: 600;
}
.section-2 .section-content .section-detail .service-detail{
    border-radius: 60px 80px 80px 0;
    background-color: #ffffff;
    padding: 50px 20px 20px 40px;
    height: 450px;
    margin:10px
}
.service-detail .image{
    float:right;
}

.service-detail .content  h5{
    display: table-cell;
    vertical-align: bottom;
    height: 80px;
    text-align: left;
    width: 100%;
    color: #7a4077;
    font-weight: 200;
    font-size: 16px;
    font-weight: 400;
   
}
.service-detail .content  h5 a{
    color: #7a4077;
    font-weight: 400;
}
.service-detail .content  p{
    margin-top: 10px;
    color: #7a4077;
    text-align: left;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
}
/* Section 3 */
.section-3{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    min-height: 800px;
    height: 100vh;
    
}
.section-3 .section-background{
    background-image: url(../images/background_1-2.png);
    position: absolute;
    width: 100%;
    height: 100%;
}
.section-3 .section-content{
    position: absolute;
    bottom: 0;
    left: 0;   
    float: left;
    width: 100%;    
    padding-bottom: 10vh;
    
    
}
.section-3 .container .content .content-title{
    width: 50%;
    
}
.section-3 .container .content .content-detail{
    width: 50%;
}
.section-3 .container .content h1{
    text-align: left;
    line-height: 1.2;
    font-weight: 500;
    
}
.section-3 .container .content p{
    text-align: left;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;  
}

/* Section 4 */
.section-4{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    min-height: 900px;
    height: 100vh;
}
.section-4 .section-content .container .flexbox::after{
    content: "";
    clear: both;
    display: table;
}
.section-4 .section-content .container .flexbox::before{
    content: "";
    clear: both;
    display: table;
}
.section-4 .section-content{
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    padding-bottom: 5%;
    width: 100%;

}
.section-4 .section-content .container .flexbox{
    display: flex;
    flex-flow: row nowrap;
}
.section-4 .content{
    width: 60%;
    padding: 5%;
    float: left;
    padding-top: 0px ;
}
.section-4 .content h2{
    font-size: 25px;
    margin: 0;
}
.section-4 .content h1{
    font-size: 30px;
    margin: 0;
}
.section-4 .content h6{
    font-size: 16px;
    margin: 10px 0;
}
.section-4 .content h5{
    font-size: 16px;
    line-height: 1;
    padding: 0;
}
.section-4 .register-form{
    width: 30%;
    float: left;
    text-align: center;
    background-color: white;
    border-radius: 40px;
    padding:50px 40px 30px 40px;
    position: relative;
}
.register-form .stamp{
    position: absolute;
    top: -26px;
    left: 144px;
}
.section-4 .discount-content{
    max-width: 600px;
    margin: 20px auto;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-4 .discount-content .price-content{
    width: 60%;
}
.register-form .form-title h5{
    color: #7a4077;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 0;
}
.register-form .form-detail p{
    color: #7a4077;
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: 18px;
    padding: 20px 0;
}
.register-form .form-body{
    text-align: left;
}
.register-form .form-body .form-content{
    padding: 10px 0;
}
.register-form .form-body .form-content label{
    width: 100%;
    color: #7a4077;
    font-size: 16px;
    font-weight: 200;
}
.register-form .form-body .form-content input{
    padding:10px;
    border-radius: 30px;
    width: 100%;
    border:#7a4077 1px solid;
}
.register-form .form-submit{
    text-align: center;
}
.register-form .form-body button{
    display: inline-block;
    padding: 15px 25px;
    color: #7a4077;
    font-size: 20px;
    margin-top: 25px;
    background-color: #fff;
    border: 2px solid #7a4077;
    border-radius: 20px;
    text-transform: uppercase;
}
.section-4 .discount-date{
    margin: 0;
}
.section-4 .discount-date h4{
    font-size: 20px;
}
.section-4 .discount-date h3{
    font-size: 18px;
    font-family: 'Open sans';
    font-weight: 600;
    text-transform: uppercase;
}
/* FOOTER SECTION */
.footer-content{
    float: left;
    width: 100%;
    background-color: #653263;
    padding: 25px 0;
    
}

.footer-content .flexbox{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-content .get-voucher-method{
    position: relative;
    width: 100%;
}
.flexbox .flex-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-content .steps ul{
    border: none;
    padding: 10px 0;
}
.flex-content .steps ul > li {
    border: none;
    padding: 5px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    color: #ffffffe2;
}
.flex-content .contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    text-decoration: none;   
}
.flex-content h3{
    font-size: 18px;
}
.flex-content .contact h5{
    font-size: 16px;
    font-weight: 200;
}
.flex-content .contact h5 a{
    color: #ffffff;
}
.get-voucher-method .line{
    height: 2px;
    width: 50px;
    background-color: #ffffff;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.copyright h4{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans';
}