.header{
    float: left;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;  
}

.header-content{
    float: left;
    width: 100%;
    border-bottom: 1px solid #775d64;
}
.logo{
    float: left;
    width: 25%;
    padding: 20px 0;
}
.menu{
    display: flex;
    padding: 0;
    text-align: center;
    width: 75%;
    height: 75px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
ul{
    
    margin: 0 auto;
    text-align: left;
}
ul > li{
    display: block;
    float: left;
    position: relative;
    padding: 0 27px;
    
}
.header ul > li::after{
    content: "|";
    float: left;
    color: #fff;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
}
ul > li:nth-child(1):after{
    content: "";
    float: left;
    color: #fff;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
}

ul > li > a{
    display: block;
    color: #fff;
    font-size: 15px;
    padding: 34px 0px 19px 0px;
    float: left;
    text-transform: uppercase;
    position: relative;
    border-bottom: 5px solid transparent;
}
ul > li > a:hover{
    border-bottom: 5px solid white;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


/* SECTION */
.section{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    min-height: 800px;
    height: 100vh;
}
.section .section-background{
    background-image: url(../images/background_1-2.png);
    height: 100vh;
    min-height: 800px;
    width: 100%;
    position: absolute;
}
.section .section-content{
    position: absolute;
    bottom: 0;
    left: 0;   
    float: left;
    width: 100%;
    padding-bottom: 20vh;
}
.section-content::after{
    content: "";
    clear: both;
}
.content{
    text-align: center;
    width: 100%;
    float: left;    
}
.content .verify-icon{
    margin: 50px 0;
}
.content .content-detail{
    color: #ffffff;
}
.content .content-detail h2{
    margin: 20px 0;
    font-weight: 500;
    text-transform: uppercase;
}
.content .content-detail p{
    font-size: 15px;
    color: #ffffffd4;
}
.content .content-detail p:last-child{
    margin: 20px 0;
}
.content .back-to-home{
    background-color: transparent;
    border: 1px #ffffff solid;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 50px;
}
.content .back-to-home a{
    text-decoration: none;
    color: #ffffff;
}
.content .back-to-home:hover{
    background-color: #7a4077;
    border: 1px #7a4077 solid;
    transition: 1s;
}

.header-menu{
    display: none;
}
/* FOOTER SECTION */
footer{
    display: none;
}
.footer-content{
    float: left;
    width: 100%;
    background-color: #653263;
    padding: 30px 0;
}

.footer-content .flexbox{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-content .get-voucher-method{
    position: relative;
    width: 100%;
}
.flexbox .flex-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-content .steps ul{
    border: none;
    padding: 10px 0;
}
.flex-content .steps ul > li {
    border: none;
    padding: 5px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    color: #ffffffe2;
}
.flex-content .contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    text-decoration: none;   
}
.flex-content h3{
    font-size: 18px;
}
.flex-content .contact h5{
    font-size: 16px;
    font-weight: 200;
}
.flex-content .contact h5 a{
    color: #ffffff;
}
.get-voucher-method .line-1{
    height: 2px;
    width: 50px;
    background-color: #ffffff;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.contact .line-2{
    display: none;
}
.copyright h4{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans';
}
nav .header-menu{
    flex-direction: row;
}
nav .nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.47);
    display: none;
    animation: fadeIn linear 0.3s;
}
.nav-mobile{
    background-color: #7a4077;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}
.nav-mobile .menu-mobile{
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}
nav .nav-mobile ul{
    width: 100%;
}
.nav-input{
    display: none;
}
nav .nav-mobile ul > li{
    text-align: left;
    width: 100%;
    border-bottom: 1px #ffffff solid;
}
nav .nav-mobile ul > li a{
    width: 100%;
    padding: 10px;
}
nav .nav-mobile ul > li:first-child a{
    border: none;
}
nav .nav-mobile ul > li::after{
    display: none;
}
.nav-input:checked ~ #main-content{
    transform: translateX(320px) !important;
}
.nav-input:checked ~ .nav-overlay{
    display: block;
}

.nav-input:checked ~ .nav-mobile{
    transform: translateX(0%);
}
#main-content{
    transition: transform linear 0.3s;
}
#main-content.slide{
    transform: translateX(320px);
    
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
body {
  overflow-x: hidden;
  
}